[base]
name = "PS Add Scrapping"
version = "1.0.0"

[file]
source_data = "data.csv"
processing_data = "data_updated.csv"
template = "template_page.txt"

[flaresolverr]
flaresolverr_url = "http://your_flare_proxy_url.com/v1"

[wordpress_api]
wordpress_url = "http://your_wordpress.com"
username_api = "your_user_wp"
password_api = "your_app_password_wp"
