[base]
app_name = "PS Add Scrapping"
app_version = "1.0.0"

[processing]
batch_size = 100 # The number of URLs retrieved at once from the database
max_concurrency = 10 # The maximum number of processing tasks that can be executed simultaneously

[prestashop_addon]
robots_url = "https://addons.prestashop.com/robots.txt"
sitemap_lang = "fr"

[flaresolverr]
flaresolverr_url = "http://your_flare_proxy_url.com/v1"
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"

[wordpress_api]
wordpress_url = "http://your_wordpress.com"
username_api = "your_user_wp"
password_api = "your_app_password_wp"

# https://developer.wordpress.org/rest-api/reference/pages/
[wordpress_page]
template = "template_page.txt"
status = "draft" # publish, future, draft, pending, private
parent = 1 # ID for the parent of the post
author = 1 # ID for the author of the post